<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("navbar.ejs");%>
    <h1>My Tickets</h1>

    <% if( journeys.length== 0){ %>
      <p class='text-danger'> Pas d'article dans le panier </p>
    <% } else { %>
    <div class='row justify-content-center'>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Journey</th>
            <th scope="col">Date</th>
            <th scope="col">Departure time</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <% var Total=0; 
          for (var i=0; i< journeys.length;i++){ 
            Total +=journeys[i].price; %>
            <tr class='bg-light text-dark border-bottom'>
              <th scope="row">
                <%= i+1 %>
              </th>
              <td>
                <%=journeys[i].departure%> /  <%=journeys[i].arrival%>
              </td>
              
              <td>
                <%= journeys[i].departureTime%%> €
              </td>
              <td>
                <%= journeys[i].price %> €
              </td>
            </tr>
            <%} %>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td class="total-box"> Total : </td>
                <td>
                  <%= Total %> €
                </td>
              </tr>
</body>
</html>